html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  height: 100vh;
  background: transparent linear-gradient(180deg, #000000 0%, #000e09 100%) 0%
    0% no-repeat padding-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Main Page
-------------------------------------------------
*/

.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Login Page
-------------------------------------------------
*/


