html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  height: 97.5vh;
  background: transparent linear-gradient(180deg, #000000 0%, #000e09 100%) 0%
    0% no-repeat padding-box;
  font: normal normal normal 16px/21px "Mulish", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Login Page
-------------------------------------------------
*/

.login-wrapper {
  width: 180px;
  margin: 0 auto;
}

.login-input {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: column;
}

h6 {
  margin-top: 0;
  letter-spacing: 0.02px;
  color: #36a546cc;
  opacity: 1;
}

input {
  width: 238px;
  height: 42px;
  border-radius: 50px;
  background: #1f191966 0% 0% no-repeat padding-box;
  box-shadow: inset 0px 3px 3px #fffdfd40, 3px 3px 3px #4a494947;
  mix-blend-mode: normal;
  opacity: 1;
  caret-color: #fffdfd40;
  font-size: 16px;
  color: #fffdfd40;
  padding: 15px;
}

button {
  width: 238px;
  height: 42px;
  border-radius: 50px;
  background: transparent
    linear-gradient(180deg, #00ff2580 0%, #000000 100%, #36a54680 100%) 0% 0%
    no-repeat padding-box;
  mix-blend-mode: normal;
  border: 2px solid #8cff0026;
  opacity: 1;
  font: normal normal bold 16px/21px Mulish;
  letter-spacing: 0.02px;
  color: #ffffff8c;
  opacity: 1;
  cursor: pointer;
}

p {
  font-size: 13px;
  color: #36a546;
  opacity: 1;
}
